
.Main-Products-Container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/single_gear_background.png);
    background-size: cover;
    background-position: top;
    /* justify-content: center; */
}

.Main-Products-Title {
    margin-bottom: 5vh;
    font-size: 300%;
    font-weight: 700;
    color: var(--details-color);
    text-transform: uppercase;
}

.Main-Products-Inner-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5vh;
    margin-top: 9vh;
}

.Main-Products-Inner-Link {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 350px;
    /* width: 25%;
    height: 100%;  */
    align-items: center;
    /* justify-content: space-around;  */
    justify-content: space-between;
    text-decoration: none;
    color: var(--main-background-color);
    padding: 0 20px 20px 20px ;
}

/* .Main-Products-Painting-Lines-Inner-Image {

} */

.Main-Products-Inner-Link:hover {
    background: linear-gradient( to right, rgba(13,173,147,255) 30%, rgba(0,69,100,255) 90%);
    border-radius: 10px;
}

.Main-Products-Inner-Image {
    /* height: 50%;
    width: 80%; */
    margin-bottom: 3%;
    max-width: 350px;
    /* max-height: 35vh; */
}

.Main-Products-Inner-Button {
    display: flex;
    align-items: center;
    min-height: 70px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    font-size: 120%;
    font-weight: 600;
    font-family: var(--main-font);
    padding: 1.5% 2%;
    background: linear-gradient( to right, rgba(13,173,147,255) 30%, rgba(0,69,100,255) 90%);
    border: none;
    border-radius: 10px;
    color: var(--main-background-color);
    -webkit-box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.72);
    -moz-box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.72);
    box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.72);
    font-weight: 400;
}

.Products-container {
    margin-top: 22.5%;
    text-align: center;
    font-size: 200%;
    margin-bottom: 20.9%;
}

/* .Products-name-text {
    
} */
.Product-Container {
    /* background: none; */
    background-image: url(../img/double_gears_background.jpg);
    /* background-position-x: center; */
    background-repeat: repeat-y;
    background-size: 100%;
    /* background-position: center; */
}

/* .Product-Background {
    background-size: cover; 
} */

.Product-Container, .Product-Inner-Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Product-Inner-Container {
    margin: 2%;
}

.Product-Heading {
    margin-bottom: 2vh;
    font-size: 250%;
    font-weight: 700;
    color: var(--details-color);
}

.Product-Content-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: rgb(251, 238, 223); */
    margin: 0 10% 5% 10%;
    padding: 5% 0;
    border: 10px ridge var(--details-color);
    min-width: 80vw;
}

.Product-Item-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Product-Item-Heading {
    font-size: 200%;
    font-weight: 600;
    margin-bottom: 5vh;
    align-self: flex-start;
    margin-left: 12%;
    color: var(--main-background-color);
}

.Product-Image {
    width: 30%;
}

.Product-Image-Container {
    border-top: 5px solid black;
    border-left: 5px solid black;
}


.Product-Description-Container {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 2%;
    border-left: 3px solid var(--main-dark-color);
}

.Product-Description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 110%;
    font-weight: 400;
}

.Product-Description-Value {
    font-weight: 600;
}

/* SCAN */

.Product-First-Info-Container {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 18vh;
    font-size: 130%;
    font-weight: 400;
}

.Product-Second-Info-Container {
    justify-content: flex-start;
}

.Pellets-Images-Container {
    display: flex;
    flex-direction: column;
    width: 30%;
    max-height: max-content;
    align-items: center;
    gap: 2vh;
}

.Pellet-Image {
    min-width: 100%;
}

.Pellet-Booklet-Image {
    max-width: 20%;
}

.Pellet-Options-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 62%;
    height: 40vh;
    color: var(--main-background-color);
}

.Pellet-Description {
    align-self: flex-start;
}

/* .Product-Second-Info-Container {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    font-size: 130%;
    font-weight: 400;
} */

.Scaner-Image {
    /* width: 30%; */
    width: 300px
}

.PolymerPaintingLines-Second-Image {
    width: 250px;
}

.Scaner-Text {
    text-align: justify;
}

.Scaner-Decorated-Left-Text-Container, .Scaner-Decorated-Right-Text-Container {
    margin: 9vh 18vh;
    margin-left: 27vh;
    font-size: 130%;
    font-weight: 400;
    text-align: justify;
}

.Scaner-Decorated-Left-Text-Container {
    border-left: 4px solid var(--details-color);
    padding-left: 5vh;
}


.Scaner-Decorated-Right-Text-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Scaner-Decorated-Right-Text {
    margin-left: 5vh;
}

.Painting-Lines-Main-Text {
    margin-left: 5%;
}

.Painting-Lines-List {
    margin-left: 1%;
}

.Painting-Lines-Photo-Container, .Painting-Lines-Photo-Main-Container {
    /* background-color: palegoldenrod; */
    background: none;
}

.Painting-Lines-Photo-Container, .Painting-Lines-Photo-Main-Container {
    padding: 0;
    margin: 0;
}

.Pulse-Icon{
    -webkit-animation: pulse 1.2s ease-in;
    -moz-animation: pulse 1.2s ease-in;
     animation: pulse 1.2s ease-in;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
 }
 25% {
    -webkit-transform: scale(1.06);
    opacity: 1;
 }
 50% {
    -webkit-transform: scale(1.12);
    opacity: 1;
 }
 75% {
    -webkit-transform: scale(1.18);
    opacity: 1;
 }
 100% {
    -webkit-transform: scale(1.24);
    opacity: 1;
 }
}

.Product-Options-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 40vh;
    color: var(--main-background-color);
}

.Product-Options-Title {
    font-weight: 700;
}

.Product-Options-Image {
    width: 20vh;
}

.Product-Options-Button {
    width: 20%;
    display: flex;
    justify-content: center;
}

.Pellet-Image {
    width: 20%;
}

.Product-Info-Container {
    color: var(--main-background-color);
}

.Scaner-Svg {
    width: 80px;
    height: 80px;
}

.Scaner-Second-Svg {
    max-width: 80px;
}

/* PRODUCTS ADAPTIVE /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media screen and (max-width: 1200px){
    .Main-Products-Inner-Button {
        min-height: 120px;
    }
    .Main-Products-Inner-Image {
        max-width: 200px;
    }
}

@media screen and (max-width: 700px){
    .Main-Products-Inner-Container {
        flex-direction: column;
        align-items: center;
        gap: 95px;
        padding-top: 0;
    }
    .Main-Products-Inner-Link {
        /* width: 85vw;
        min-height: 300px; */
        width: 300px;
        height: 300px;
    }
    .Main-Products-Inner-Image {
        min-width: 200px;
    }
    .Main-Products-Title {
        font-size: 200%;
    }
}

@media screen and (max-width: 1500px){
    .Product-Heading {
        font-size: 200%;
        margin: 2% 5%;
    }
    .Product-Options-Title {
        text-align: center;
    }
    .Product-Description {
        font-size: 90%;
    }
    .Product-Description-Container {
        width: 45vw
    }
    .Product-First-Info-Container {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .Scaner-Decorated-Left-Text-Container {
        margin: 30px 2vw;
    }
    .Scaner-Decorated-Right-Text-Container {
        margin: 30px 3vw
    }
}

@media screen and (max-width: 1000px){
    .Product-Content-Container {
        margin: 2%;
        padding: 2%;
        justify-content: space-between;
        gap: 2%
    }
    .Product-Description-Container {
        width: 60vw;
    }
}

@media screen and (max-width: 790px){
    .Product-Content-Container {
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    .Product-Inner-Container {
        gap: 40px
    }
    .Product-Image {
        min-height: 200px;
        margin-bottom: 20px;
    }
    .Polymer-Painting-Lines-Product-Image {
       min-width: 200px;
       min-height: 100px;
    }
    .Product-Double-Image {
        height: 200px;
    }
    .Pellets-Images-Container {
        width: 70%;
    }
    .Product-Double-Content-Container {
        width: 95%;
    }
}

@media screen and (max-width: 1110px) {
    .Product-Options-Button {
        min-width: 40vw
    }
}

@media screen and (max-width: 690px) {
    .Product-Description-Container {
        width: 90vw;
    }
}

@media screen and (max-width: 610px) {
    .Product-Heading {
        font-size: 140%;
        margin-top: 5%;
    }
    .Product-Item-Heading, .Product-Options-Title {
        font-size: 110%;
    }
    .Product-Description {
        font-size: 90%;
    }
    .Product-Image {
        width: 200px
    }
    .Main-Products-Inner-Link {
        padding: 0 20px 20px 20px ;

    }
}

@media screen and (max-width: 430px) {
    .Product-Description {
        font-size: 70%;
    }
    .Product-Options-Button {
        min-width: 60vw
    }
    .Pellets-Images-Container {
        width: 100%;
    }
    .Scaner-Description-Adaptive {
        padding: 2%;
    }
}

@media screen and (max-width: 340px) {
    .Product-Description {
        font-size: 55%;
    }
}

@media screen and (max-width: 700px) {
    .Scaner-Svg {
        min-width: 15vw;
        min-block-size: 17vw;
    }
    .Scaner-Second-Svg {
        min-width: 15vw;
    }
}

@media screen and (max-width: 657px) {
    .Scaner-Svg {
        margin-left: 10px;
        margin-top: 5px;

    }
    .Product-First-Info-Container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .Scaner-Second-Svg {
        align-self: flex-start;
        margin-top: 15px;
    }
    .Scaner-Decorated-Right-Text, .Scaner-Decorated-Left-Text {
        text-align: left;
    }
    .Product-Info-Container {
        font-size: 70%;
    }
}

@media screen and (max-width: 950px) {
    .Scaner-Image {
        min-width: 250px;
        margin-bottom: 3vw;
    }
    .Product-First-Info-Container {
        flex-direction: column;
    }
    .Painting-Lines-Main-Text {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .Scaner-Description-Name {
        max-width: 50%;
    }
    .Scaner-Description-Value {
        max-width: 30%;
        text-align: right;
    }
}
