
.Video-Gallery-Inner-Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Video-Gallery-Container {
    background-image: url(../img/double_gears_background.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.Video-Container {
    /* width: 75vh; */
    height: 25vw;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.Photo-Container {
    height: 25vw;
    /* height: 50vh; */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--third-details-color);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Video-Gallery-Heading, .Gallery-Title {
    margin-bottom: 5vh;
    font-size: 250%;
    font-weight: 700;
    color: var(--details-color);
}

.Video {
    width: 100%;
    height: 75%
}

.Photo {
    height: 85% 
}

.Video-Caption {
    width: 100%;
    height: 15%;
    background: linear-gradient( to left, rgba(13,173,147,255) 30%, rgba(0,69,100,255) 90%);
    color: var(--main-background-color);
    font-size: 110%;
    font-weight: 400;
    padding: 1%;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Video-Adaptive-Caption {
    height: 25%;
    /* font-size: 90%; */
}

.Gallery-Container {
    background-image: url(../img/single_gear_background.png);
    background-size: cover;
    background-position-y: -20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}



.Gallery-Inner-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    width: 100%;
    padding: 0 10%;
    
}

/* DELETE!////////////////////////////////////////////////// */
.Gallery-Inner-Container {
    height: 400px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10vw
    /* gap: 5vw */

}
/* DELETE!////////////////////////////////////////////////// */

.Gallery-Link {
    padding: 2%;
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    height: 100%;
    /* width: 30vw; */
    width: 100%; 
    align-items: center;
    justify-content: space-around; 
    text-decoration: none;

}

.Gallery-Link:hover {
    background: linear-gradient( to right, rgba(13,173,147,255) 30%, rgba(0,69,100,255) 90%);
    border-radius: 10px;
}

.Gallery-Link-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;
}

.Gallery-Link-Image {
    height: 240px;
    width: 400px;
}
.Gallery-Link-Image-Photo {
    padding: 7px 0;
}

.Gallery-Link-Button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    font-size: 120%;
    font-weight: 400;
    font-family: var(--main-font);
    padding: 1.5% 2%;
    background: linear-gradient( to right, rgba(13,173,147,255) 30%, rgba(0,69,100,255) 90%);
    border: none;
    border-radius: 10px;
    color: var(--main-background-color);
    -webkit-box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.72);
    -moz-box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.72);
    box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.72);
}

.Gallery-Link-Button:hover {
    background: linear-gradient( to left, rgba(13,173,147,255) 30%, rgba(0,69,100,255) 90%); 
}

.Gallery-Title {
    font-size: 300%;
    font-weight: 700;
    color: var(--details-color);
    text-transform: uppercase;
}

/* GALLERY ADAPTIVE PART ///////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-width: 1200px) {
    .Gallery-Inner-Container {
        gap: 5vw
    }
}

@media screen and (max-width: 1050px) {
    .Gallery-Inner-Container {
        justify-content: center;
        align-items: center;
        max-height: 350px;
    } 
    .Gallery-Link {
        height: 60%;
        width: 300px; 
        margin-bottom: 0;
    }
    .Gallery-Link-Image {
        height: 140px;
        width: 200px;
    }

}

@media screen and (max-width: 660px) {
    .Gallery-Inner-Container {
        flex-direction: column;
        min-height: 600px;
    } 
    .Gallery-Title {
        font-size: 160%;
    }
    .Video-Gallery-Inner-Container {
        grid-template-columns: 1fr;
    }
    .Photo-Container, .Video-Container {
        height: 50vw;
    }
    .Video-Adaptive-Caption {
        height: 25%;
    }
}

@media screen and (max-width: 880px) {
    .Video-Caption {
        font-size: 80%;
    }
}

@media screen and (max-width: 360px) {
    .Photo-Container {
        /* max-height: none;
        width: 80vw; */
        height: 70vw;
        margin-left: 0;
        margin-right: 0;
    }

    .Video-Container {
        margin: 4%;
        height: 70vw;
    }
    
}