* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* max-width: 100%;
    overflow: hidden; */
}

/* :root {
    --main-dark-color: #272727;
    --details-color: rgb(60, 204, 122);
    --third-details-color: rgb(175,180,183);
    --menu-color: rgb(207, 223, 222);
    --logo-color: rgb(207, 223, 222);
    --main-background-color: #EFF1F3;
    --second-details-color: rgb(32, 133, 76);
    --menu-hover-color: rgba(96, 182, 228, 0.852);
    --main-font: 'Open Sans', sans-serif;
    --main-font-size: 90%;
  } 
   */

 :root {
    --main-dark-color: #272727;
    --details-color: rgba(20,172,147,255);
    --menu-color: rgb(207, 223, 222);
    --main-background-color: #EFF1F3;
    --second-details-color: rgba(13,94,114,255);
    --third-details-color: #9b9c9d;
    --menu-hover-color: rgba(96, 182, 228, 0.852);
    --footer-dark-color: rgba(1,1,1,248);
    --main-font: "Roboto", 'Open Sans', sans-serif;
    --main-font-size: 90%;
  } 

/* html {
    overflow-y: visible;
} */

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-background-color);
    /* background-color: var(--main-background-color); */
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    /* background-image: url(./img/about_background.jpg); */
    /* background-image: url(./img/homepageBackground.png); */
    /* background-image: url(./img/homepageBackground.png); */
    background-size: contain;
    background-repeat: no-repeat;
    /* background-blend-mode: multiply, darken; */
    overflow-x: hidden;
    /* overflow-x: clip; */

}

/*Header styles///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.App-header, .Top-Scroll-Container{
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%;
    /* width: 100vw; */
    height: 100px;
    background: none;
    padding: 0 1% 1% 3%;
    font-size: 118%;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
} 

.Top-Scroll-Container {
    z-index: 100;
    top: 85vh; 
    left: 90vw;
    width: 50px;
    height: 50px;
    background-color: var(--second-details-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    cursor: pointer;
    border: 3px solid var(--details-color);
    color: var(--details-color);
}

.Top-Scroll-Container:hover {
    background-color: var(--details-color);
    border: 3px solid var(--second-details-color); 
    color: var(--second-details-color) 
}

.Header-logo-container {
    display: flex;
    align-items: center;
    width: 45%;
}

.Header-logo {
    max-height: 7em;
}

.Header-info-container {
    display: flex;
    flex-direction: column;
    width: 47%;
}

.Header-main-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.Header-contacts-container {
    display: flex;
    flex-direction: row;
    margin: 1em 0.5em;
    justify-content: flex-end;
    gap: 6%;
    max-height: max-content;
    align-items: center;
    width: 100%;
    font-size: 90%;
    align-items: center;
}

.Header-contacts, .Header-contacts-link {
    display: flex;
    align-items: center;
    text-shadow: 4px 5px 4px rgba(0,0,0,0.68);
    text-decoration: none;
}


.Link-Extra-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: max-content;
}

.Header-language-buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3%;
    /* min-height: 10vh; */
}

.Header-language-button {
    width: 6vh;
    height: 4vh;
    border-radius: 30%;
    font-size: smaller;
    margin-left: 4%;
    background: none;
    color: var(--main-background-color);
    border: 1px solid var(--main-background-color);
    cursor: pointer;
} 

.Header-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Dropdown-links-container {
    display: flex;
    align-items: center;
}

.Dropdown-link {
    margin-right: 3vh;
    color: var(--main-dark-color);
    text-shadow: none;
    text-decoration: none;
}

.Dropdown-link:hover {
    color: var(--details-color);
    text-decoration: underline;
}

.Header-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.Nav-menu-item {
    color: var(--menu-color);
    font-size: 100%;
    text-decoration: none;
    text-transform: uppercase;
}

.Nav-menu-item:hover {
    color: var(--details-color);
    text-decoration: underline;
    cursor: pointer;
}

.Dropdown-Links-Inner-Container {
    width: 54vh;
}

.Small-Dropdown-Links-Inner-Container {
    min-width: max-content;
}

.First-Page-Header-Logo {
    visibility: hidden;
}


/*Callback styles///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.Callback-button {
    border: none;
    background-color: inherit;
    font-family: var(--main-font);
    font-weight: 600;
    text-shadow: 4px 5px 4px rgba(0,0,0,0.68);
}
  
.Callback-button, .Header-contacts, .Footer-text {
    color: var(--details-color);
    font-size: 100%;
    text-decoration: none;
}

.Callback-button-container :hover {
    color: var(--main-background-color);
    cursor: pointer;
}

.Header-contacts :hover {
    color: var(--menu-color);
}

/* .ProductList-button {
    background-color: inherit;
    border: none;
    color: var(--menu-color);
}

.ProductList-container {
    width: min-content;;
    display: flex;
    flex-direction: row;

} */

.Callback-container {
    /* background-color: var(--second-details-color); */
    background: linear-gradient( to right, rgba(13,173,147,255) 30%, rgba(0,69,100,255) 90%);
    padding: 2%;
    text-align: center;
    width: 40%;

}

.Callback-inner-button, .Callback-submit-button {
    padding: 1%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Callback-inner-button-container {
    display: flex;
    justify-content: flex-end;
}

.Callback-textfield {
   display: block;
   font-size: 120%;
   padding: 5%;
   margin: 2% 0;
}

.Callback-textfield-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 4%;
}

.Callback-text {
    font-size: 120%;
    font-weight: 300;
    color: var(--footer-dark-color);
    text-shadow: none;
}

.Callback-heading {
    font-weight: 700;
    color: var(--footer-dark-color);
    text-shadow: none;
    font-size: 130%;
}

.Callback-submit-button {
    margin: 0 40%;
}

.Footer-Callback-Extra-Button {
    background: none;
    width: max-content;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 15%;
    align-items: center;
}

 /* Top Scroll styles ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* .Top-Scroll-Container { */
    /* position: absolute; */
    /* position: sticky;
    bottom: 0; */
    /* right: 0; */
    /* top: 500%; */
    /* right: 2.5%;
    background-color: var(--second-details-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1%;
    cursor: pointer;
    border: 3px solid var(--details-color);
    color: var(--details-color);
    z-index: 101; */
/* } */

/* End of Top Scroll styles /////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/*Footer styles/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.Footer-Background-Block {
    height: 20vh;
    width: 100%;
    background-color: aqua;
    position: relative;
}

.App-footer {    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* background: linear-gradient(rgba(55,55,66,250), rgba(1,1,1,248)); */
    /* background-color: var(--main-dark-color); */
    background: linear-gradient(rgba(42,41,48,0.99), var(--footer-dark-color));
    /* background: linear-gradient(rgba(51,52,63,0.0005), var(--footer-dark-color)); */
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: 3vh 4vh 3vh 2vh;
    margin-top: -2px;
    /* background-color: rgba(0,69,100,0.005); */
    
} 

/* .App-Footer-Background { 
    background-size: cover;
    background-position-y: bottom;
    margin-left: -2px;
    margin-top: -2px;
    padding: 0;
    width: 102%;
    height: 20%;
} */

.Footer-Single-Gear-Background {
    background-image: url(./img/single_gear_background.png);
}

.Footer-Double-Gears-Background {
    background-image: url(./img/double_gears_background.jpg);
}


.Footer-Nameplate {
    margin-right: 19%;
    margin-left: 6%;
}

.Footer-Container {
    /* width: 65%; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 7%;
    align-items: center;
    
    
}

.Footer-Adaptive-Extra-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 7vw;
    /* background-color: pink; */
    width: 90%
}

.Footer-Info-Container , .Footer-Links-Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1vh;
    max-width: 80%;
    text-align: left;
}

.Footer-Info-Container {
    max-width: 50%;
    
}

.Footer-Links-Container {
    gap: 3vh;
    min-width: 30%;

}

.Footer-Info, .Footer-Callback, .Footer-Copyright,  .Footer-Link {
    font-size: 90%;
    font-weight: 500;
    text-decoration: none;
}

.Footer-Callback-Adaptive {
    margin-left: 4px;
}

.Footer-Link {
    color: var(--details-color); 
    font-weight: 600;
    text-transform: uppercase;
    min-width: 100%;

}

.Footer-Link:hover{
    color: var(--main-background-color); 
    text-decoration: underline;
}

.Footer-Callback:hover {
    color: var(--main-background-color);
}

.Footer-Info:hover {
    color: var(--details-color); 
    text-decoration: underline;
}

.Footer-Info , .Footer-Copyright {
    color: var(--main-background-color);
}

.Footer-Info {
    display: flex;
    flex-direction: row;
    gap: 7%;
}

.Footer-Icon {
    height: 17px;
}

.Footer-Callback {
    color: var(--details-color);
    font-weight: 400; 
}

.Darken-Footer {
    background: none;
    background-color: var(--footer-dark-color);
}

.Privacy-policy-container {
    white-space: pre-wrap;
    text-align: justify;
    padding: 10%;
    font-size: 110%;
    font-weight: 400;
    background-image: url(./img/double_gears_background.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
    color: var(--main-background-color)

}

.Address-text {
    white-space: pre-wrap;
    text-align: justify;
}

.Footer-Callback-Icon {
    margin-right: 4px;
}

.First-Page-Button-Block {
    display: none;
}

/* @media(max-width: 420px) {
    .Header-upper-container {
        flex-direction: column;
    }
} */

/* Scroll handle header styles///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
#headerBackgroundChange {
    background-color: var(--footer-dark-color)
}

/* End of scroll handle header styles///////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* Standart styles///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
.Standart-Section {
    padding-top: 20vh;
    padding-bottom: 15vh;
    background-color: var(--main-dark-color);
}

/* .Component-Border {
    border-radius: 14%;
} */

.Example-Container {
        height: 100px; 
        width: 100px; 
        margin: 35px 20px 0 0;
        background: #B1BA5C;
        position: relative;
        background-image: linear-gradient(to left green blue);

}

.Example-Container:before{
    content: "";
    width: 0; 
    height: 0;
    position: absolute;
    top: 0x;
    right: -30px;
    border-top: 50px solid transparent;
    border-left: 30px solid #B1BA5C;
    border-bottom: 50px solid transparent;
    }

    .Header-common-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }


    /* Burger menu part////////////////////////////////////////////////////////////////////////////////////////////// */
    
    .Burger-Menu-Button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: var(--details-color);
        color: var(--main-background-color);
        cursor: pointer;
        border: none;
        padding: 15%;
    }

    .Burger-Menu-Button-Container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .Burger-Menu-Button:hover {
        background-color: var(--main-background-color);
        color: var(--details-color);
    }
    
    .Burger-Menu-Container {
        background: linear-gradient( to right, rgba(13,173,147,0.93) 30%, rgba(0,69,100,0.93) 90%);
        padding: 5%;
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .Burger-Menu-Close-Button {
        align-self: flex-end;
        max-width: max-content;
        background: none;
        border: none;
        color: var(--main-background-color);
    }

    .Burger-Menu-Close-Button:hover {
        color: var(--main-dark-color);
        cursor: pointer;
    }

    .Burger-Menu-link {
        color: var(--main-background-color);
    }

    .Burger-Menu-Dropdown-link {
        color: var(--main-background-color);
        margin-left: 2%;
    }

    .Burger-Menu-Dropdown-link:hover, .Burger-Menu-link:hover {
        color: var(--main-dark-color);
    }

    /* Adaptive part ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    /* @media only screen and (max-height: 725px) {
        .App-header{
            height: 160px
        }
    }
     */
    @media only screen and (max-width: 1290px) {

        .Header-main-container {
            padding-right: 10px;
        }
        .Header-info-container {
            width: 100%;
        }
        .navBurgerMenuContainer {
            margin-right: 10px;
        }
        .App-header{
            height: 160px
        }


        .Header-main-container {
            flex-direction: column-reverse;
            align-items: flex-end;
            padding-top: 2vh;
        }
        .Header-contacts-container {
            flex-direction: column;
            align-items: flex-end;
        }
        .navBurgerMenuContainer {
            margin-left: 3vh; 
            align-self: center;
            color: var(--main-background-color);
        }
        .Header-nav-container {
            visibility: hidden; 
            width: 0.01px 
        }
        .Header-common-container {
            display: flex;
            align-items: center;
        }
        /* Пропозиція */
        @media screen and (orientation: landscape) and (max-width: 1080px) {
            .App-header {
                padding: 0;
                max-height: 48px;
            }    
            .Header-logo-container {
                visibility: hidden;
            }
            .Header-contacts-link-text {
                display: none;
            }
            .Callback-adaptive-text {
                display: none;
            }
        }
    /* Кінець пропозиції */
    }

    @media only screen and (min-width: 1290px) {
        .navBurgerMenuContainer {
            visibility: hidden; 
            width: 0.01px      
        }
    }


    /* Adaptive ratio part////////////////////////////////////////////////////////////////////////////////////// */
    @media screen and (max-aspect-ratio: 8/10.9) {
        .Header-language-button {
            width: 30px;
            height: 25px;
        } 
    }

    @media screen and (max-height: 650px) and (min-aspect-ratio: 6.97/6.39) {
        .FirstPage-Title-Button, .FirstPage-Title-Link {
            font-size: 100%;
        }  
        .First-Page-Logo-Description {
            font-size: 100%
        }
        .First-Page-List-Item-Text {
            font-size: 70%
        }
        @media screen and (max-height: 680px) {
            .Header-language-button {
                width: 30px;
                height: 25px;
            } 
        }  
        @media screen and (max-height: 480px) {
            .First-Page-Logo-Description {
                font-size: 60%
            }
            .First-Page-List-Item-Text {
                font-size: 50%;
            } 
            .First-Page-List {
                list-style-type: none;
            }
            .First-Page-List-Container {
                padding: 0 0 0 5px;
            }
            
        }
        @media screen and (max-width: 1060px){
            .FirstPage-Title-Button, .FirstPage-Title-Link {
                font-size: 50%
            }
        }
    } 

/* Adaptive for mobile styles ////////////////////////////////////////////////////////////////////////////////////////////////////// */

    @media screen and (max-aspect-ratio: 7.2/10.9), (max-width: 500px) {
        /* .First-Page-Button-Block {
            display: block;
            position: absolute;
            top: 100vh;
            z-index: 2000;
            height: 500px;
            background-color: pink;
        } */

        * {
            max-width: 100%;
            /* ------------------------------------------------------------------ */
            /* overflow-x: hidden; */
            /* -------------------------------------------------------------- */
            /* overflow-x: clip; */
        }

        /* *::-webkit-scrollbar {
            display: none;
        } */

        .First-Page-Logo-Extra-Container {
            width: 100vw!important;
            height: 100vh!important;
            position: unset;
            background: linear-gradient( to right, rgba(13,173,147,0.6) 30%, rgba(0,69,100,0.6) 90%), url(./img/background_image.png);
            background-size: cover;
            padding: 25% 11% 0 0;

        }

       


        /* .First-Page-Main-Container {
            min-height: 100vh!important;

        } */

        .First-Page-Logo-Text {
            max-width: 200px!important;
        }

        .First-Page-Logo-Description {
            height: 30vh!important;;
            width: 90vw;
            font-size: 110%;
            padding-top: 5%;
            
        }

        .First-Page-List-Container  {
            width: 100vw!important;
            height: 40vh!important;
            position: unset;
            padding: 10% 5%;
            background: linear-gradient(90deg, rgba(48,48,49,255) 30%, rgba(138,137,136,255) 90%);
        }

        
        .First-Page-List {
            width: 100%;
            height: 100%;
            font-size: 90%;
            line-height: 1;
            list-style-position: inside;
            list-style-type: disc;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .First-Page_List-Item {
            padding-top: 10px;
        }

        .First-Page-List-Item-Text {
            margin-left: 20px;
            margin-top: -15px;
        }

        .First-Page-Button-Container {
            display: none;
        }

        .First-Page-Button-Container-Adaptive {
            display: block;
            height: 30vh;
            width: 100%;
            background: linear-gradient(90deg, rgba(20,172,147,255) 46%, rgba(13,94,114,255) 90%);
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;
        }

        .FirstPage-Title-Button, .FirstPage-Title-Link {
            width: 45vw!important;
        }

        .First-Page-Svg, .Header-logo {
            visibility: hidden;
        }

        /* .Top-Scroll-Container {
            visibility: hidden;
            top: 0
        } */
        
        .First-Page-Picture-Container {
            display: none!important;
            /* width: 100% !important;
            height: 100vh !important;
            margin: 0!important; */
        }

        .Header-info-container {
            margin: 0;
            padding: 0;
            /* min-width: 180px;
            min-height: 100px; */
        } 
        .Header-main-container {
            padding: 6px 0 0 0;
        }
        /* ////////////////////////////////////////////////////////////////////color */
        .Header-contacts-container {
            /* width: 100%; */
            width: max-content;
            gap: 1%;   
            margin: 0;
            flex-direction: row-reverse;
        }

        .navBurgerMenuContainer {
            margin-left: 7px;
            width: 30px;
        }

        .Header-main-container {
         width: 100%;
         flex-direction: row;
         justify-content: flex-end;
         align-items: center;
         gap: 5px;
        }
        .Header-info-container {
            height: 50px;
            width: 100%;
        }
        .App-header {
            padding: 0;
            max-height: 48px;
        }


        .Header-contacts-link-text {
            display: none;
        }
        /* .Header-contacts-link {
            min-width: 180px;
            min-height: 60px;
        } */
        .Callback-button {
            display: flex;
            align-items: center;
        }
        .Callback-adaptive-text {
            display: none;
        }
        .Header-common-container {
            min-height: 30px;
        }
        .Callback-container {
            width: 90%;
        }
        .Callback-submit-button {
          width: 100%;
          margin: 0;
        }
        .Callback-button-container {
            min-width: max-content;   
    }
    
    .Footer-Info-Adaptive {
        width: 100%;
    }

    .Contacts-Inner-Container {
        /* background-color: pink; */
        width: 100vw!important;
        height: 70vh!important;
        padding: 110px 0 0 0;
        margin: 0;
        color: var(--main-background-color)
        
    } 

    .Contacts-Items-Container {
        /* background-color: violet; */
        min-height: 80px;
        margin-left: 5px;

    }

    .Contacts-item {
        /* background-color: burlywood; */
        max-width: 240px;
        font-size: 150%;
    }

    .Contacts-inner-container-heading {
        /* background-color: aquamarine; */
        margin-left: 8px;
        font-size: 160%;
        font-weight: 700;
    }

    .Contacts-inner-container-text {
        /* background-color: blueviolet; */
        font-size: 150%;
        min-height: 80px;
        margin-left: 5px;
        margin-right: 15px;
        width: 240px;
    }
   

    .Contacts-feedback-form-adaptive-button-container {
        background: linear-gradient(90deg, rgba(48,48,49,255) 30%, rgba(138,137,136,255) 90%);
        width: 100%!important;
        height: 30vh!important;
    }

    .Contacts-Main-Container {
        background-image: linear-gradient( to right, rgba(13,173,147,0.6) 30%, rgba(0,69,100,0.6) 90%), url(./img/background_image.png);
    }

    @media screen and (max-width: 300px) {
        .Footer-Info-Adaptive {
            font-size: 70%;
        }
    }
}

    /* End Adaptive for mobile styles ///////////////////////////////////////////////////////////////////////////////////////////////// */

    @media screen and (max-aspect-ratio: 13/8) { 
        .First-Page-Button-Container {
            padding-right: 2%;
            gap: 2%
        }
    }
    
    @media screen and (max-aspect-ratio: 13.3/9.3) {
        .First-Page-Button-Container {
            padding-top: 1.5%;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-start;
            gap: 10%;
        }
        .FirstPage-Title-Button, .FirstPage-Title-Link {
            height: 26%;
            width: 22%;
            font-size: 80%;
        }
    }

    @media screen and (max-aspect-ratio: 9.53/9.1) {
        .FirstPage-Title-Button, .FirstPage-Title-Link {
            height: 28%;
            width: 17%;
            font-size: 100%;
        }
    }

    @media screen and (max-aspect-ratio: 5.88/5.36) {
        .Header-contacts, .Callback-button {
            font-size: 90%;
        }
    }

    @media screen and (max-aspect-ratio: 6.4/9.21) {
        .FirstPage-Title-Button, .FirstPage-Title-Link {
            height: 30%;
            width: 17%;
            font-size: 80%;
        }
    }

    @media screen and (max-height: 910px) and (max-width: 818px) and (min-aspect-ratio: 6.02/9.1) {
        .First-Page-Logo-Description {
            font-size: 60%;
        }
        .First-Page-List-Item-Text {
            font-size: 50%
        } 
        .FirstPage-Title-Button, .FirstPage-Title-Link {
            font-size: 50%;
        }   
    } 

    /* Adaptive footer styles ///////////////////////////////////////////////////////////////////////////////////////////////// */
    @media screen and (max-width: 1365px) {
        .Footer-Nameplate {
            margin: 0 3%
        }
    }
    @media screen and (max-width: 1215px) {
        .Footer-Nameplate {
            margin: 0 1%
        }
        .Footer-Link, .Footer-Info-Container {
            font-size: 70%;
        }
    }
    @media screen and (max-width: 780px) {
        .Footer-Nameplate {
            visibility: hidden;
            width: 1px;
            margin: 0
        }
        .Footer-Container {
            width: 100vw;
        }
    }

    @media screen and (max-width: 500px) {
        .Footer-Container {
            flex-direction: column;
            gap: 3vh;
            justify-content: flex-start;
        }
        .Top-Adaptive-Container {
            flex-direction: row-reverse;
        }
        .Footer-Adaptive-Extra-Container {
            justify-content: space-between;
            padding: 0 5%;
        }
        .Footer-Info-Container {
            min-width: 50%;
        }
    }

    @media screen and (max-height: 500px) {
        .Top-Block-Part {
            /* padding-top: 25%; */
            padding-top: 200px;
        }
    }

    /* @media screen and (max-width: 800px) {
        .Footer-Link {
            
        }
    } */
    
    /* About adaptive part////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
   
    /* @media screen and (max-width: 1460px) {
        .About-Product-Options-Container {

        }
    } */

   

    /* @media screen and (max-width: 1000px) {
        .Options-Main-Container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap: 7vh
        }
        .About-Product-Options-Container {
            min-width: 300px;
        }
    } */
    
 

 
@media screen and (max-height: 650px) {
    .Standart-Section {
        padding-top: 150px;
        padding-bottom: 80px;
        background-color: var(--main-dark-color);
    }
    /* .Header-logo-container {
        display: none;
    } */
}

/* TOP SCROLL ADAPTIVE STYLES ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

@media screen and (max-height: 820px) {   
    .Top-Scroll-Container {
        top: 80vh; 
        /* left: 90vw; */
    }
}

@media screen and (max-height: 450px) {   
    .Top-Scroll-Container {
        top: 65vh; 
        /* left: 90vw; */
    }
}


@media screen and (max-width: 600px) {   
    .Top-Scroll-Container {
        left: 85vw;
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-height: 460px) { 
    .Burger-Menu-link, .Burger-Menu-Dropdown-link {
        font-size: 70%;
    }
}

@media screen and (max-height: 330px) { 
    .Burger-Menu-link, .Burger-Menu-Dropdown-link {
        font-size: 50%;
    }
}
