.Contacts-Main-Container {
    height: 100vh;
    background-image: url(../img/background_image.png);
    background-position-x: right;
    background-size: cover;
    background-position-y: -65px;
}

.Contacts-Inner-Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--dark-main-color);
    padding-left: 80px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 550px;
    height: 520px;
}

.Contacts-inner-container-heading {
    text-align: left;
    font-size: 140%;
    font-weight: 700; 
    width: max-content
}

.Contacts-text-container {
    width: 480px;
    font-size: 120%;
}

.Contacts-Items-Container {
    margin-left: -30px;
}

.Contacts-item {
    justify-content: left;
    color: var(--dark-main-color);
    text-decoration: none;
    text-align: left;
    font-size: 120%;
}

.Contacts-inner-container-text {
    text-align: left;
    width: 450px;
    font-size: 140%;
    font-weight: 540;
}

.Contacts-feedback-form-main-container {
    height: 60vh;
    width: 80vh;
    position: absolute;
    top: 18vh;
    right: 20vh;
}

.Contacts-feedback-form-container {
    background: none;
    min-width: 47%;
    font-size: 120%;
    font-weight: 500;
    text-align: center;
    color: var(--main-background-color);
}

.Contacts-container-heading {
    margin-bottom: 0;
    font-weight: 700;
}

.Contacts-container-description {
    margin-bottom: 2%;
}

.Contacts-feedback-form-input, .Contacts-feedback-form-text-input {
    margin-bottom: 3%;
    font-size: large;
    padding: 3%;
}

.Contacts-feedback-form-input {
   max-width: 42%;
}

.Contacts-feedback-form-text-input {
    align-items: stretch;
    height: 100px;
}

.Contacts-feedback-form-input-container {
    margin: 0  7%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
     
}

.Contacts-feedback-form-input-container-without-text-form-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Contacts-feedback-form-button, .Contacts-feedback-form-adaptive-button  {
    font-family: var(--main-font);
    padding: 1.5% 2%;
    background: linear-gradient( to right, rgba(13,173,147,255) 30%, rgba(0,69,100,255) 90%);
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    color: var(--main-background-color);
    -webkit-box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.72);
    -moz-box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.72);
    box-shadow: 9px 9px 10px 0px rgba(0,0,0,0.72);
    cursor: pointer;
}

.Contacts-feedback-form-button:hover, .Contacts-feedback-form-adaptive-button:hover  {
    background: linear-gradient( to left, rgba(13,173,147,255) 30%, rgba(0,69,100,255) 90%);
}

.Contacts-icon {
    margin-right: 2%;
}

.Contacts-feedback-form-adaptive-button-container {
    visibility: hidden;
}

.Contacts-feedback-form-adaptive-button-container {
     display: flex;
     align-items: center;
     justify-content: center;
}

.Contacts-feedback-form-adaptive-button {
    max-width: 90%;
    min-width: 50%;
    height: 30%;
    font-weight: 700;
    font-size: 120%;
}

.Invisible-Feedback-Form {
    /* display: none; */
    visibility: hidden;
}

.Adaptive-Contacts-feedback-form-outer-container {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: none;
    background-color: rgba(48,48,49,0.5);
}

.Adaptive-Contacts-feedback-form-background {
    background: linear-gradient(90deg, rgba(48,48,49,255) 30%, rgba(138,137,136,255) 90%);
    min-height: 410px;
}

.Contacts-feedback-form-adaptive-close-button {
    margin-left: 90%;
    /* margin-top: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.Adaptive-Contacts-feedback-form {
    padding-top: 10px;
    min-height: 450px;
}




   /* Contacts adaptive block///////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

   @media screen and (max-aspect-ratio: 6.5/6.2), (max-height: 620px) {

    .Contacts-inner-content-container {
        font-size: 80%;
        min-height: 40%;
    }
    .Contacts-inner-container-heading {
        margin-left: -40px;
    }
    /* .Contacts-text-container {
        max-width: 100%;
    } */
    .Contacts-Inner-Container {
        padding: 50px;
    }
    .Contacts-inner-container-text {
        /* max-width: 165px!important; */
        margin-left: -30px;
    }
    @media screen and (max-height: 500px) {
        .Contacts-inner-content-container {
            font-size: 60%;
        }
        .Contacts-Inner-Container {
            padding-top: 0;
        }
        .Contacts-icon {
            max-width: 10px;
        }
        
    }
    @media screen and (max-height: 334px) {
        .Contacts-inner-container-heading {
            margin-left: -20px;
        }
        .Contacts-inner-container-heading, .Contacts-inner-container-text {
            font-size: 80%;
        }
        /* .Contacts-inner-container-text, .Contacts-text-container {
            max-width: 20vw;
        } */
        .Contacts-Bottom-Text-Container {
            margin-bottom: -20px;
        }
        .Contacts-second-inner-container-heading {
            /* margin-top: 25px; */
            margin-bottom: 0;
        }
        /* .Contacts-inner-container-text {
            max-width: 140px!important;
        } */
    }
    @media screen and (max-height: 220px) {
        .Contacts-item, .Contacts-inner-container-text {
            font-size: 90%;
        }
    }
}

@media screen and (max-height: 700px) {
    .Contacts-feedback-form-main-container {
        background-color: palevioletred;
        display: none;
    }
    .Contacts-feedback-form-adaptive-button-container {
        visibility: visible;
         position: absolute;
         bottom: 0;
         z-index: 90;
    }
    .Visible-Feedback-Form {
        visibility: visible;
        /* display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: none;
        background-color: rgba(48,48,49,0.5); */
    }

    /* .Contacts-Adaptive-Button-Container {
        height: 10%
    } */
}
/* @media screen and (max-height: 500px) {
    .Contacts-feedback-form-main-container {
        width: 30vw;
        margin-right: 10%;
    }
} */
@media screen and (max-height: 510px) {
    .Contacts-feedback-form-main-container {
        display: none;
    }
    .Contacts-feedback-form-adaptive-button-container {
        visibility: visible;
    }
    .Visible-Feedback-Form {
        visibility: visible;
        /* display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: none;
        background-color: rgba(48,48,49,0.5); */
    }
}
@media screen and (max-aspect-ratio: 14.17/7.77) {
    .Contacts-feedback-form-main-container {
        background-color: red;
        max-width: 40vw;
        max-height: 30vw;
        right: 20px!important;
        top: 150px!important;
    }
    @media screen and (min-height: 882px) and (max-width: 1231px) {
        .Contacts-item, .Contacts-text-container {
            font-size: 130%;
            color: red;
            padding-top: 5%;
        }

        .Contacts-inner-container-heading {
            color: aqua;
            padding-top: 5%;
        }

        .Contacts-feedback-form-adaptive-button-container {
            visibility: visible;
             position: absolute;
             bottom: 0;
             z-index: 90;
        }

        .Visible-Feedback-Form {
            visibility: visible;
        }
        
        .Contacts-inner-container-text,  .Contacts-inner-container-heading {
            font-size: 200%;
        }
        .Contacts-icon {
            width: 20px;
        }

    }
    @media screen and (max-width: 1375px) {
        .Contacts-feedback-form-main-container {
            display: none;
        }
        .Contacts-feedback-form-adaptive-button-container {
           visibility: visible;
            position: absolute;
            z-index: 90;
        }
        .Visible-Feedback-Form {
            visibility: visible;
        }
    }

}

@media screen and (max-width: 500px) {
    .Adaptive-Contacts-feedback-form {
        height: 400px;
        font-size: 95%;
    }
    .Contacts-container-description, .Contacts-feedback-form-bottom-text, .Contacts-container-heading {
        margin-bottom: 17px;
    }

    .Contacts-feedback-form-input, .Contacts-feedback-form-text-input {
        font-size: 95%;
    }
}


